.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	overflow: hidden;

	.game-area {
		display: flex;
		position: relative;
		justify-content: center;
		align-items: center;
		height: 100%;
		width: 100%;
		min-height: 1290px;
		min-width: 2040px;

		.game-canvas {
			background-color: transparent !important;
		}
		.table-border {
			position: absolute; 
			// top: 5%;
			// left: 5%;
			width: 1500px;
			height: 750px; 
			background-color: rgba(107, 28, 28, 0.521);
			z-index: -1; 
			box-sizing: border-box; 
			padding: 40px; /* adjust this to change amount of border showing around table */
			align-items: center;
			justify-content: center;
			box-shadow:  2px 2px 2px #000000, 2px 2px 2px #0d0d0d;
			.pocket {
				position: absolute;
				width: 40px;
				height: 40px;
				top: 50%;
				left: 10%;
				background-color: #000;
				overflow: hidden;
				z-index: 999;
				border-radius: 0px 0px 30px 30px;
			  }
			  
			.pocket-top-left {
				top: 3%;
				left: 1.2%;
				transform: rotate(130deg);
			}
			.pocket-top-middle {
				top: 0.3%;
				left: 47%;
				transform: rotate(180deg);
			}
			.pocket-top-right {
				top: 3%;
				left: 96.3%;
				transform: rotate(230deg);
			}  
			.pocket-bottom-left {
				top: 92%;
				left: 1.3%;
				transform: rotate(50deg);
			}
			.pocket-bottom-middle {
				top: 94.7%;
				left: 47%;
			}
			.pocket-bottom-right {
				top: 92%;
				left: 96.3%;
				transform: rotate(310deg);
			}
		}
		.table {
			position: relative;
			width: 100%;
			height: 100%;
			background-color: rgb(32, 106, 51);
			box-shadow: inset 2px 2px 2px #000000, 1px 1px 1px #000000;
		}
		.chalk {
			position: absolute;
			width: 10px;
			height: 10px;
			border: 2px solid white;
			background-color: rgb(68, 100, 152);
			z-index: 1;
			top: 2%;
			left: 40%;
			transform: translate(-50%, -50%);
			transform: rotate(25deg);
			align-items: center;
			justify-content: center;
		}
		.chalk-dent {
			position: relative;
			left: 10%;
			top: 10%;
			width: 8px;
			height: 8px;
			border-radius: 50%;
			background-color: rgb(35, 40, 116);
			z-index: 999;
		}
		.cue-ball-start {
			position: absolute;
			width: 6px;
			height: 6px;
			border-radius: 50%;
			top: 49%;
			left: 75%;
			background-color: rgb(16, 30, 225);
			border: 3px solid white;
			z-index: 999;
		}
		.scoreboard-button {
			position: absolute;
			display: flex;
			flex-direction: row;
			justify-content: center;
			width: 400px;
			height: 50px;
			align-items: center;
			background-color: rgba(124, 119, 119, 0.719);
			border-radius: 4px;
			padding: 0px 20px 0px;
			// transition: all 0.2s ease-in-out;
			font-weight: 600;
			font-size: xx-large;
			user-select: none;
			left: 2%;
			top: 10%;
			.scoreboard-button-dropdown {
				position: absolute;
				display: none;
				width: calc(100% - 5px);
				height: 400px;
				top: 100%;
				background-color: rgba(124, 119, 119, 0.418);
				border: 5px solid #ccc;
				border-top-style: inset;
				border-radius: 5px;
				column-count: 2;
				column-gap: 0;
				pointer-events: none;
				.dropdown-column {
					display: flex;
					justify-content: center;
					height: 100%;
					overflow: hidden;
					flex-direction: column;
					.dropdown-column-item {
						display: flex;
						justify-content: center;
						height: 20%;
					}
				}
				
			}
		}
		.scoreboard-button.active {
			background-color: #666666;
			.scoreboard-button-dropdown {
				display: block;
			}
		}
		.scoreboard-button:hover {
			cursor: pointer;
			background-color: rgb(95, 91, 91);
		}
		.scoreboard-button:hover .scoreboard-button-dropdown {
			display: block;
		}
	}
}
