<div class="container">
	<div class="table-border">
		<div class="stick"></div>
		<div class="chalk">
			<div class="chalk-dent"></div>
		</div>
		<div class="cue-ball-start"></div>
		<div class="pocket pocket-top-left"></div>
		<div class="pocket pocket-top-middle"></div>
		<div class="pocket pocket-top-right"></div>
		<div class="pocket pocket-bottom-left"></div>
		<div class="pocket pocket-bottom-middle"></div>
		<div class="pocket pocket-bottom-right"></div>
		<div class="ball cue-ball"></div>
		<div class="ball ball1"></div>
		<div class="ball ball2"></div>
		<div class="table"></div>
	</div>
</div>
